[Desktop Entry]
Version=1.0
Name=Stop Win 11 Thror
Exec=virsh shutdown win11-thror --mode acpi
Icon=/home/josef/Pictures/icons/windows-11-icon-red.png
Terminal=false
Type=Application
Categories=Development;
Keywords=Windows;Win;Win11;Thror;stop;
